.numberBox {
  border: 1px solid black;
  width: 8rem;
  display: inline-block;
  font-size: 72px;
  text-align: center;
}

.App .gameBox {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.gameBox,
.gameBoxBottom {

  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.gameBoxBottom {
  margin-top: 1rem;
  display: flex;
  gap: .5rem;
  margin-bottom: 5rem;
}

.gameBoxBottom input {
  height: 72px;
  font-size: 72px;
  width: 10rem;
}

.gameBoxBottom .wordInput {
  width: 22rem;
}

@media only screen and (max-width: 500px) {
  .App .wordGameBox .numberBox {
    width: 3rem;
    font-size: 50px;
  }
}


/* burger menu styles */

.bm-burger-bars {
  background: #fff;
  border-radius: 10px;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 1.5rem;
  right: 1.5rem;
}

.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.countByForm label,
.countByForm button {
  display: block;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}