.numberBox {
  border: 1px solid black;
  width: 8rem;
  display: inline-block;
  font-size: 94px;
  text-align: center;
}

.App .gameBox {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.gameBox,
.gameBoxBottom {

  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.gameBoxBottom {
  margin-top: 1rem;
  display: flex;
  gap: .5rem;
  margin-bottom: 5rem;
}

.gameBoxBottom input {
  height: 94px;
  font-size: 94px;
  width: 10rem;
}

.gameBoxBottom .wordInput {
  width: 22rem;
}

@media only screen and (max-width: 500px) {
  .App .wordGameBox .numberBox {
    width: 3rem;
    font-size: 50px;
  }
}